<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaJam Coffee House Home</title>
    <link rel="stylesheet" href="../public/assets/css/stylesheet.css">
</head>
<body>
<header>

</header>
<div class="wrapper">
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="../public/pages/index.html">Home</a></li>
                <li><a href="../public/pages/menu.php">Menu</a></li>
                <li><a href="music.html">Music</a></li>
                <li><a href="jobs.html" class="active">Jobs</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <h1>Jobs at JavaJam</h1>
        <p>Want to work at JavaJam? Fill out the form below to start your application. Required fields are 
        marked with an asterisk *</p>
        <form name="jobForm" action="../views/show_post.php" method="POST">
            <table>
                <tbody>
                    <tr>
                        <td><label for="custName">*Name:</label></td>
                        <td>
                            <input type="text" name="custName" id="custName">
                            <span id="custNameError" class="error-message"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email">*E-mail:</label></td>
                        <td>
                            <input type="email" name="email" id="email">
                            <span id="emailError" class="error-message"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="date">Start date:</label></td>
                        <td>
                            <input type="date" name="date" id="date">
                            <span id="dateError" class="error-message"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="exp">*Experience:</label></td>
                        <td>
                            <textarea name="exp" id="exp" rows="4" cols="40"></textarea>
                            <span id="expError" class="error-message"></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Apply Now" id="submit">
                            <input type="reset" value="Clear">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<footer><br>Copyright &copy; 2024 JavaJam Coffee House<br>
    <a href="mailto:aquila@ng.com">aquila@ng.com</a>
</footer>
<script src="../js/jobvalidation.js"></script>
</body>
</html>