/* Basic CSS Reset */
* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

body{
  background-image: url(./assets/wallpaper.jpg);
  align-items: center;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;   
  margin: auto;
}

/* Card styling */
.card {
  width: 25rem;
  border: 1.5px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Form elements */
.form-label {
  font-weight: 500;
  display: block;
}

.form-label2{
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #6E757C;
}

.form-control {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
}

/* Focused input styling */
.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Error state styling */
.is-invalid {
  border-color: #dc3545;
  padding-right: 2.25rem;
  background-image: url(./assets/error.png);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 20px 20px;
}

.invalid-feedback {
  display: block;
  font-size: 0.875rem;
  white-space: pre-line;
  color: #dc3545;
}

/* Button styling */
.btn-primary {
  width: auto;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #9BB3AF;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #89A4A6;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* General spacing */
.mb-3 {
  margin-bottom: 1rem;
}

.mt-5 {
  margin-top: 3rem;
}

/* Utility classes for layout */
.d-grid {
  display: grid;
}

.gap-2 {
  gap: 0.5rem;
}
